*{
    box-sizing: border-box;
}
#logo {
  float: left;
}
#logo img{
  height: 110px;
}
header{
  margin: 0%;
  padding: 0%;

}

nav{
  display: flex;
  padding: 2% 0%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 150px;
}
.nav-link{
  flex: 1;
  text-align: right;
}
.nav-link ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;

}
.nav-link ul li a{
  color: rgb(8, 8, 8);
  text-decoration: none;
  font-size: 15px;
}
.nav-link ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #070707;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-link ul li:hover::after{
  width: 100%;
}






.delete_button{
    float: right;
    margin-top: 10px;
}
h1{
    font-size: smaller;
}
input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  .category{
    margin-left: 0px;
    margin-right: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
  
  }



  input:focus{
    background-color: #ddd;
    outline: none;
  }
  form{
      width: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  img{
      width: 100px;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  #checkbox{
    margin-left: 1px;
  }
 

  