
body{
   
    height: 100vh;
    text-align: left;
    padding: 5px;
    /* background-color: #f3f0eb; */
    
  }
  *{
    float: inline-start;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
   
  }
  
  .borderPage {
    border: 1px solid #a39292;
    margin-bottom: 25px;
  }
   h1{
    text-decoration: underline;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: "Poppins", sans-serif;
    text-align: center;
  }  

  nav{
    display: flex;
    padding: 2% 0%;
    justify-content: space-between;
    align-items: center;
  }
  
  nav img{
    width: 150px;
  }
  .nav-link{
    flex: 1;
    text-align: right;
  }
  .nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  
  }
  .nav-link ul li a{
    color: rgb(8, 8, 8);
    text-decoration: none;
    font-size: 15px;
  }
  .nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #070707;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav-link ul li:hover::after{
    width: 100%;
  }
#bodyPage{
    margin: auto;
    margin-top: 50px;
    display: flex;
    /* border: solid rgb(4, 0, 255) 4px; */
}

#user_info{
    width: 30%;
    padding: 50px;
    margin-left: 20px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);

    /* border: solid rgb(4, 0, 255) 4px; */
}

label{
  margin-right: 15px;
}
.sub_container{
  text-align: left;
  display: flex;
  margin: 25px;
}

#p_ordered{
    width: 65%;
    margin-left: 20px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);

    /* border: solid rgb(0, 255, 213) 4px; */

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  img{
      width: 100px;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }



h2{
    text-align: center;
    font-size: x-large;
}
  



#btLogout{
    text-align: center;
    padding: 5px;
    position: relative;
    width: 100px;
    font-size: 15px;
    color: #131618;
    border: 2px solid #f3bfb3;
    letter-spacing: 0.5px;
    cursor:pointer;
    border-radius: 10px;
    transition: 0.3s;
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
}
#btLogout:hover{
    opacity: 1;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    
    border-color: #9b59b6;
}
p{
    text-align: center;
    margin-bottom: 10px;
}
a {
    color: rgb(71, 30, 255);
  }

  .message_box {
    -webkit-animation: DisapearAnimation 3s forwards; 
    animation: DisapearAnimation 3s forwards;
  }
  @keyframes DisapearAnimation {
    0%   {opacity: 0;}
    20%  {opacity: 1;}
    80%  {opacity: 1;}
    100% {opacity: 0;}
  }
  @-webkit-keyframes DisapearAnimation {
    0%   {opacity: 0;}
    10% {opacity: 0.5; }
    50%  {opacity: 1;}
    90% {opacity: 0.5; }
    100% {opacity: 0;}
  }